<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script language="JavaScript">
        var app = angular.module("VotingService", []);
        var votingLink = "";
        var votingId = "???";
    </script>

    <script src="../js/createVoting.js"></script>
    <script src="../js/startStopVoting.js"></script>
    <script src="../js/getVotingLink.js"></script>
    <script src="../js/getOptions.js"></script>
</head>
<body ng-app="VotingService">
Home page

<div ng-controller="VotingController">
    <hr/>
    <h3> Generate JSON Voting </h3>

    <form novalidate class="simple-form">
        <label>votingTheme: <input type="text" ng-model="votingCreateDto.votingTheme" size="60"/></label>
        <br>
        <br>
        <label>question: <input type="text" ng-model="votingCreateDto.question" size="65"/></label>
        <br>
        <br>
        <label>answers:</label>
        <div class="form-group" data-ng-repeat="answer in answers">
            <input type="text" placeholder="Enter a answer" ng-model="answer.answerName">
        </div>
        <br>
        <button ng-click="removeLastAnswer()">Remove Answer</button>
        <button ng-show="showAddAnswer(answer)" ng-click="addNewAnswer()">Add Answer</button>
    </form>

    <h3>JSON:</h3>
    <pre>{{votingCreateDto | json}}</pre>
    <hr/>
    <h2>Create Voting by sending JSON to server</h2>
    <button ng-click="createVoting()" class="create-button">Create voting</button>
    <p>
        Voting ID: {{votingId}}
    </p>
</div>


<div ng-controller="StartStopController">
    <hr>
    <h2>Start & Stop Voting</h2>
    Voting is {{isOpen}}
    <br><br>
    <button ng-click="startVoting(votingId)" class="create-button">Start Voting</button>
    <button ng-click="stopVoting(votingId)" class="create-button">Stop Voting</button>
</div>


<div ng-controller="GetVotingLinkController">
    <br>
    <hr/>
    <h2>Get Voting Link</h2>
    <button ng-click="getLinkByVotingId()" class="create-button">Get Voting Link</button>
    <p>
        Link: <a target="_blank" href="{{link}}">{{link}}</a>
    </p>
</div>

<div data-ng-controller="GetOptionsController" data-ng-init="init()">
    <br>
    <hr/>
    <h2>REST API Options</h2>
    <table border="1">
        <tr>
            <td>Rest Api Link</td>
            <td>HTTP-method</td>
            <td>Description</td>
        </tr>
        <tr ng-repeat="option in options">
            <td>{{ option.link }}</td>
            <td>{{ option.method }}</td>
            <td>{{ option.description }}</td>
        </tr>
    </table>
</div>

<br>
<hr/>
<h3>Open H2 database console:</h3>
H2 database: <a target="_blank" href="http://localhost:8090/h2-console">http://localhost:8090/h2-console</a>
<br><br><br>

</body>
</html>